.root{
     -fx-background-image:   url("photo272.jpg");
       } 
       
       .button{ /* linear-gradient(#61a2b1,#2A5058)*/
           -fx-text-fill: #ccffff;
    -fx-background-color:linear-gradient(#61a2b1,#2A5058);}
   
   .label{-fx-text-fill: white;
  -fx-font-size:16px; 
  -fx-font-weight:bold;}
